<h1 class="text-center"><%= link_to @admin_meetup.title, admin_meetups_path %>的活動</h1>
<div class="row">
  <br/>
  <br/>
  <div class="col-md-offset-1 col-md-10">
    <%= link_to "新增活動", new_admin_meetup_event_path, class: "btn btn-primary pull-right" %>
    <br/><br/>
    <% @admin_events.each do |event| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to meetup_event_path(@admin_meetup, event) do %>
            <div class="caption">
              <h3><%= event.subject %></h3>
              <p><%= event.date %></p>
              <p>
                <%= link_to "編輯", edit_admin_meetup_event_path(@admin_meetup, event), class: "btn btn-default" %>
                <%= link_to "刪除", admin_meetup_event_path(@admin_meetup, event), class: "btn btn-danger", method: "delete", data: {confirm: "確認刪除?"} %> 
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
