<h1 class="text-center">快來找適合你的聚會!</h1>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div>
      <span>分類</span>
      <% @categories.each do |category| %>
        <%= link_to category.title, class: "btn btn-primary" %>
      <% end %>
    </div>
    <% @meetups.each do |meetup| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to meetup_path(meetup) do %>
            <%= image_tag meetup.cover.url %>
            <div class="caption">
              <h3><%= meetup.title %></h3>
              <p><%= meetup.subtitle %></p>
              <p><%= meetup.day %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>

