<h1 class="text-center"><%= @meetup.title %></h1>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <%= image_tag @meetup.cover.url, style: "width: 100%;" %>

    <%= link_to "簡介", anchor: "about" %>
    <%= link_to "成員", anchor: "member" %>
    <%= link_to "活動", anchor: "event" %>
    <%= link_to "筆記", anchor: "note" %>
    <%= link_to "照片", anchor: "photo" %>
    <% if @is_member %>
      <span class="pull-right">您已加入此聚會</span>
    <% else %>
      <%= link_to "加入聚會", add_admin_meetup_path(@meetup), class: "btn btn-primary pull-right" %>
    <% end %>
    <div id="about">
      <h3>簡介</h3>
      <p>
        <%= @meetup.description %><br/>
        <%= @meetup.day %><br/>
        <%= @meetup.location %>
      </p>
    </div>
    <div id="member">
      <h3>成員</h3>
      <% @members.each do |member| %>
        <%= member.email %>
      <% end %>
    </div>
    <div id="event" class="col-md-12" style="padding: 0px;">
      <h3>活動</h3>
      <% @events.each do |event| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= link_to meetup_event_path(@meetup, event) do %>
              <div class="caption">
                <h3><%= event.subject %></h3>
                <p><%= event.date %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="note">
      <h3>筆記</h3>
    </div>
    <div id="photo">
      <h3>照片</h3>
    </div>
  </div>
</div>
