<h1 class="text-center">我的聚會</h1>
<div class="row">
  <br/>
  <div class="col-md-offset-1 col-md-10">
    <h3 class="text-center">我發起的聚會</h3>
    <%= link_to "新增聚會", new_admin_meetup_path, class: "btn btn-primary pull-right" %>
    <br/><br/>
    <% @admin_meetups_owner.each do |meetup| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to meetup_path(meetup) do %>
            <%= image_tag meetup.cover.url %>
            <div class="caption">
              <h3><%= meetup.title %></h3>
              <p style="height: 30px;"><%= meetup.subtitle %></p>
              <p>
                <%= meetup.location %>
                <%= meetup.weekday %>
                <%= meetup.total.to_s + "名" + meetup.called %>
              </p>
              <p>
                <%= link_to "活動", admin_meetup_events_path(meetup), class: "btn btn-default" %>
                <%= link_to "編輯", edit_admin_meetup_path(meetup), class: "btn btn-default" %>
                <%= link_to "刪除", admin_meetup_path(meetup), class: "btn btn-danger", method: "delete", data: {confirm: "確認刪除?"} %> 
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-offset-1 col-md-10">
    <h3 class="text-center">我加入的聚會</h3>
    <br/><br/>
    <% @admin_meetups_member.each do |meetup| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to meetup_path(meetup) do %>
            <%= image_tag meetup.cover.url %>
            <div class="caption">
              <h3><%= meetup.title %></h3>
              <p style="height:30px;"><%= meetup.subtitle %></p>
              <p>
                <%= meetup.location %>
                <%= meetup.weekday %>
                <%= meetup.total.to_s + "名" + meetup.called %>
              </p>
              <% if current_user.is_admin == true %>
              <p>
                <%= link_to "活動", admin_meetup_events_path(meetup), class: "btn btn-default" %>
                <%= link_to "編輯", edit_admin_meetup_path(meetup), class: "btn btn-default" %>
                <%= link_to "刪除", admin_meetup_path(meetup), class: "btn btn-danger", method: "delete", data: {confirm: "確定要刪除?"} %> 
              </p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>

